h1{
    text-align: center;
    margin-top: 5%;
    font-size: 64px;
    
    
}

.gamecontainer{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;


}
.welcome{
    font-size: 28px;
}

input{
    width: 15%;
    margin:1%;
    padding: 10px;
    text-align: center;

}
button{
    cursor: auto;
    padding:10px 20px;
    border-radius: 50px;
}

